<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.libdll.so.am" >

	<!--<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />-->

	<application
	android:allowBackup="true"
	android:icon="@mipmap/ic_launcher"
	android:label="@string/app_name" >
	<activity
	    android:name=".MainActivity"
	    android:label="@string/app_name" >
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
	</activity>
	<activity
	    android:name=".PackageListActivity"
	    android:label="@string/title_activity_package_list" >
	</activity>
	<activity
	    android:name=".RunningActivityListActivity"
	    android:label="@string/title_activity_running_activity_list" >
	</activity>
	<activity
	    android:name=".ActivityListActivity"
	    android:label="@string/title_activity_activity_list" >
	</activity>
	<activity
	    android:name=".ActivityControlActivity"
	    android:label="@string/title_activity_activity_control" >
	</activity>
	</application>
</manifest>
